node_modules/
backend/node_modules/
frontend/node_modules/
.expo/
frontend/.expo/
*.sqlite
backend/src/database/*.sqlite
.env*
frontend/.env*
backend/.env*
dist/
frontend/dist/
web-build/
frontend/web-build/
.vscode/
.DS_Store
*.pem
npm-debug.*
yarn-debug.*
yarn-error.*
